<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


<div class="center jumbotron">
<%= link_to image_tag("power.png", alt: "power logo"),
            'http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER/' %>
  <h1>Welcome to Power Blog</h1>

  <h2>
    This is the home page for 
    <a href="http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER//">Team Power</a>
    @ 
    <a href="http://www.battlenet.com.cn/wow/zh/">WOW</a>
    CN-10 黑龙军团.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>


